{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container-fluid">
    <div  style=" padding-bottom: 130px; padding-top: 130px;" class="row">
        <div class= "col-md-2"class="mx-auto" style="width: 500px;"></div> 
            <a href="{{ url_for('main.new_blog') }}"><button type="button" class="btn btn-primary btn-lg " class="mx-auto" style="width:200px">Post a bolg</button>
            </a>
        
    
        <div class= "col-md-10">
            {{macro.displayblogs(blogs)}}
        </div>
</div>
<p style="text-align: center; font-family: 'Courgette', cursive;"> &copy; Copyright Maureen Ougo </p>
{% endblock%}