{% extends 'base.html' %}
    <body>
    {% block content %}
    <div  class="container-fluid">
    <div  style="background-color: inherit; background-attachment: fixed; height: 100%;" class="row">
        <h1 style="text-align: center ;padding: 20px;font-family:Georgia, 'Times New Roman', Times, serif;font:bolder;">Welcome to BLOGMASTER</h1>
        <h4 style="text-align: center;font-family:'Courier New', Courier, monospace;">everyone has an opportunity to blog</h4>
        <br>
        <div class="col-md-2">
        
        </div>
        <div class="col-md-8">
        <div  class="row">
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/celebrity.jpg" alt="">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Celebrities</h2>
                        <a  href="{{ url_for('main.blogs_celebrity') }}" class="btn btn-primary -center"> Blogs </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/movies.jpg" alt="">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Movies</h2>
                        <a  href="{{ url_for('main.blogs_movie') }}" class="btn btn-primary -center">Blogs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/travel.jpg" alt="">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Travel</h2>
                        <a  href="{{ url_for('main.blogs_travel') }}" class="btn btn-primary -center">Blogs</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br>
        </br>
        <div  class="row">
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/food.jpg" alt="">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Food</h2>
                        <a  href="{{ url_for('main.blogs_food') }}" class="btn btn-primary -center"> Blogs </a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/fitness.jpg" alt="">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">fitness</h2>
                        <a  href="{{ url_for('main.blogs_fitness') }}" class="btn btn-primary -center">Blogs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/fashion.jpg" alt="" height="200px">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Fashion</h2>
                        <a  href="{{ url_for('main.blog_fashion') }}" class="btn btn-primary -center">Blogs</a>
                    </div>
                </div>
            </div>
        
        </div>
        <br>
        </br>
        <div  class="row">
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/personal.jpg" alt="">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Personal</h2>
                        <a  href="{{ url_for('main.blogs_personal') }}" class="btn btn-primary -center"> Blogs </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/music.jpg" alt="" >
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Music</h2>
                        <a  href="{{ url_for('main.blogs_music') }}" class="btn btn-primary -center">Blogs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hovereffect">
                    <img class="img-responsive" src="/static/image/sports.jpg" alt="">
                    <div class="overlay">
                        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">sports</h2>
                        <a  href="{{ url_for('main.blogs_sports') }}" class="btn btn-primary -center">Blogs</a>
                    </div>
                </div>
            </div>
        
        </div>
         
        </div>
        <div class="col-md-2">

        </div>
    </div>

    
</div> 
<p style="text-align: center; font-family: 'Courgette', cursive;"> &copy; Copyright Maureen Ougo </p> 
{% endblock  %}
    </body>